.header{
  height:60px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0px;
  right: 0px;
  left:0px;
  z-index: 100;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgb(223, 217, 217);
}

.left-section{
  display:flex;
  align-items: center;
}

.hamburger-menu{
  margin-left: 18px;
  margin-right: 16px;
  height:24px;
  border-radius: 50px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hamburger-menu:hover{
  cursor: pointer;
  background-color:rgb(223, 208, 208);

}
.youtube-logo{
  height:22px;
}
.youtube-logo:hover{
  cursor: pointer;
}
.middle-section{
  display: flex;
  flex: 1;
  margin-left: 10px;
  margin-right:35px;
  max-width: 650px;
 margin-top: 10px;
 margin-bottom: 20px;
}

.Searchbar{
  border-color: rgb(192, 192, 192);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  flex:1;
  height: 35px;
  width:0;
  font-size: 16px;
  padding-left: 17px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}
.Searchbar::placeholder{
 
  font-size: 16px;
  padding-left: 5px;
}
.Searchbutton{
  margin-left: 2px;
  margin-right: 5px;
  height:40px;
 width:40px;
 border: none;
 background-color: white;
 position: relative;
}

.searchvoicebutton{
  height:38px;
  width:40px;
  border: none;
  background-color: white;
  position: relative;
}
.Searchbutton, .searchvoicebutton ,
.Upload-icon-container,
.Youtube-apps-container,
.notification-bell-container,
.profile-container
{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.Searchbutton:hover, .searchvoicebutton:hover ,
.Upload-icon-container:hover,
.Youtube-apps-container:hover,
.profile-container:hover{
  transform: scale(1.1);

}


.Searchbutton .tooltip ,
.searchvoicebutton .tooltip,
.Upload-icon-container .tooltip,
.Youtube-apps-container .tooltip,
.notification-bell-container .tooltip,
.profile-container .tooltip

{
  position :absolute;
  background-color: gray;
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  border-radius: 3px;
  left:-5px;
  bottom:-25px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
 
 
}

.Searchbutton:hover .tooltip,
.searchvoicebutton:hover .tooltip,
.Upload-icon-container:hover .tooltip,
.Youtube-apps-container:hover .tooltip,
.notification-bell-container:hover .tooltip,
.profile-container:hover .tooltip
{
  opacity: 1;
  cursor: pointer;
  
  
}

.right-section{
  display:flex;
  align-items: center;
  width:220px;
  justify-content: space-between;
  flex-shrink: 0;
 

}
.Upload-icon-container{
  position: relative;
}
.Youtube-apps-container{
  position: relative;
}
.notification-bell-container{
  position: relative;
}
.profile-container{
  position: relative;
}
.upload{
  height:30px;
}

.youtubeapps{
  height:30px;
  border-radius: 40px;
  padding-left: 5px;
  padding-right:5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.notification-bell-container{
  position: relative;
}
.notifications{
  height:30px;
  border-radius: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
 
}

.notification-count{
  position: fixed;
  height:17px;
  top: 14px;
  right: 68px;
  font-size: 14px;
  font-weight: 500;
  background-color:rgb(200, 0, 0);
  color: white;
  width: 12px;
  padding-left: 4px;
  padding-right: 5px;
  padding-top: 2px;
  border-radius: 12px;
}
.channelprofile{
  height:37px;
  border-radius: 30px;
  margin-right: 13px;
}
